@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/Portal/**/*';
@source '../../../../resources/views/filament/portal/**/*';

@source '../../../../vendor/codewithdennis/filament-simple-alert/resources/**/*.blade.php';
@source inline('animate-{spin,pulse,bounce}');
@source '../../../../vendor/awcodes/palette/resources/**/*.blade.php';

.fi-modal-close-overlay{
    @apply backdrop-blur-sm;
}
