@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/Admin/**/*';
@source '../../../../resources/views/filament/admin/**/*';

@source '../../../../vendor/codewithdennis/filament-simple-alert/resources/**/*.blade.php';
@source inline('animate-{spin,pulse,bounce}');
@source '../../../../vendor/awcodes/palette/resources/**/*.blade.php';
@source '../../../../vendor/devonab/filament-easy-footer/resources/views/**/*';

.fi-modal-close-overlay{
    @apply backdrop-blur-sm;
}
